@import url(/css/poppins.css);

:root{
    --c-brand: #EC8637;
    --c-primary: #FBFAFF;
    --c-icon: #9CA1C7;
    --c-title: #6D6C7E;
    --c-search-bar: #A3A3BD;
    --c-name: #61606E;
    --c-num: #A1A1C5;
    --c-post: #33536A;
    --c-bg:#f1f0f6;


}
*{
    padding: 0%;
    margin: 0%;
}


.container{
   padding-left: 0rem;
   padding-right: 0rem;
    background-color: var(--c-bg);
    margin:0rem;
    padding: 0rem;
    width: 100%;

}



a{
    display: flex;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family:'Poppins-Variable';
    justify-content: center;

}

.white-container{
    width: 100%;
    background-color: var(--c-primary);
    
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
}

.white-container row {
    width: 100%;
    justify-content: center;
    background-color: #6D6C7E;
    
   
    
    border-radius: 1rem;
}

.card{
    display: flex;
    flex-direction: row;
    border: 0;
}

.card-img-top{
    max-width: 5rem;
    max-height: 5rem;
    padding: 0%;
    margin: 0%;
}
.card-title{
    color: var(--c-name);
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.card-body{
    padding-left: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    margin-bottom: 1rem;
}

.card-text{
    color: var(--c-num);
    font-size: 0.75rem;
}
.pos{
    color: var(--c-post);
    font-size: 0.75rem;
    margin-bottom: 0%;
}